.notes__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: var(--space-1);
}
@media (min-width: 1024px) {
  .notes__header {
    flex-direction: row;
  }
}
